<h1>New Task</h1>

<!-- render _form.html.erb in the same dir -->

<%= render 'form', button_name: 'Add a new task!' %>

<hr />

<p>
<i class="fas fa-backward"></i><%= link_to 'Back to tasks', tasks_path %>
</p>
