// Place all the styles related to the TasksController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";


.padded {
	padding: 20px;
}

h1 {
	margin-left: 20px;
	font-size: 24px;
}


p {
	margin-left: 50px;
}

.rose {
	background-color: #BF1363;
}

.line {
	margin-left: 20px; 
	color: #F39237; 
	width: 1px; 
}

.containers {
	background-color: #FFF1D0;
	height: 80px;
	line-height: 90px; 
	margin-bottom: 10px;	
	margin-left: 30px;
	width: 500px;
}

.flex {
	display: flex;
	justify-content: space-between;
}